# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [53]:
# Your code goes here

In [93]:
import pandas as pd

In [160]:
url_1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df1 = pd.read_csv(url_1)

In [161]:
df1.head(0)

Empty DataFrame
Columns: [Customer, ST, GENDER, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []

In [227]:
df1.columns = df1.columns.str.lower().str.replace(" ", "_")
df1.columns = df1.columns.str.replace("stateate", "state")

In [231]:
df1.head(0)

Empty DataFrame
Columns: [custateomer, state, gender, education, custateomer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [235]:
url_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df2 = pd.read_csv(url_2)

In [237]:
df2.head(0)

Empty DataFrame
Columns: [Customer, ST, GENDER, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount, Policy Type, Vehicle Class]
Index: []

In [239]:
df2.columns = df1.columns.str.lower().str.replace(" ", "_")
df2.columns = df1.columns.str.replace("stateate", "state")

In [241]:
df2.head(0)

Empty DataFrame
Columns: [custateomer, state, gender, education, custateomer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [245]:
url_3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df3 = pd.read_csv(url_3)

In [246]:
df3.head(0)

Empty DataFrame
Columns: [Customer, State, Customer Lifetime Value, Education, Gender, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Total Claim Amount, Vehicle Class]
Index: []

In [247]:
df3.columns = df1.columns.str.lower().str.replace(" ", "_")
df3.columns = df1.columns.str.replace("stateate", "state")

In [248]:
df3.head(0)

Empty DataFrame
Columns: [custateomer, state, gender, education, custateomer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [254]:
df1.notnull().sum()

custateomer                   1071
state                         1071
gender                         954
education                     1071
custateomer_lifetime_value    1068
income                        1071
monthly_premium_auto          1071
number_of_open_complaints     1071
policy_type                   1071
vehicle_class                 1071
total_claim_amount            1071
dtype: int64

In [256]:
df1.shape

(4008, 11)

In [258]:
#df_1.replace(np.nan, 0, inplace=True)

In [260]:
print(type(df_1))

<class 'pandas.core.indexes.base.Index'>

In [264]:
df_concat = pd.concat([df1,df2,df3], axis=0)

In [266]:
df_concat.head(0)

Empty DataFrame
Columns: [custateomer, state, gender, education, custateomer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

In [275]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   custateomer                 9137 non-null   object
 1   state                       9137 non-null   object
 2   gender                      9015 non-null   object
 3   education                   9137 non-null   object
 4   custateomer_lifetime_value  9130 non-null   object
 5   income                      9137 non-null   float64
 6   monthly_premium_auto        9137 non-null   float64
 7   number_of_open_complaints   9137 non-null   object
 8   policy_type                 9137 non-null   object
 9   vehicle_class               9137 non-null   object
 10  total_claim_amount          9137 non-null   object
dtypes: float64(2), object(9)
memory usage: 1.1+ MB

In [290]:
df_concat.shape

(12074, 11)

In [294]:
df_concat.isnull().sum()

custateomer                   2937
state                         2937
gender                        3059
education                     2937
custateomer_lifetime_value    2944
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [300]:
number_complaints_mapping = df_concat["number_of_open_complaints"].unique()

In [308]:
number_complaints_mapping = {'1/0/00':0, '1/2/00':2, '1/1/00':1, '1/3/00':3, '1/5/00':5, '1/4/00':4}

In [310]:
df1["number_of_open_complaints"] = df2["number_of_open_complaints"].map(number_complaints_mapping)

In [314]:
df1.number_of_open_complaints.unique()

array([ 0.,  1.,  3.,  5.,  2.,  4., nan])

In [316]:
df_concat.isna().sum()

custateomer                   2937
state                         2937
gender                        3059
education                     2937
custateomer_lifetime_value    2944
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

In [323]:
url_4 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

In [327]:
df4 = pd.read_csv(url_4)

In [329]:
df4.head(0)

Empty DataFrame
Columns: [unnamed:_0, customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type, month]
Index: []

[0 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [340]:
pivo_df = round(df4.pivot_table(index="sales_channel", values="monthly_premium_auto"),2)
pivo_df

               monthly_premium_auto
sales_channel
Agent                         93.75
Branch                        92.97
Call Center                   92.47
Web                           93.18

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [350]:
pivot_df2 = round(df4.pivot_table(index="education", columns="gender", values="customer_lifetime_value"),2)
pivot_df2

gender                      F        M
education
Bachelor              7874.27  7703.60
College               7748.82  8052.46
Doctor                7328.51  7415.33
High School or Below  8675.22  8149.69
Master                8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here